@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600,700|Rubik:400,500');

$font-family-0: 'Rubik', monospace;
$font-family-1: 'Overpass Mono', monospace;

$color-theme-0-dep: #f3eded;
$color-theme-0: #fff;
$color-theme-4: #0c93b8;
$color-theme-1: #df8931;
$color-theme-1-a: rgba(223,137,49,.0);
$color-theme-2: #444444;
$color-theme-3: #D93636;
$color-theme-5: #60D243;

$txt-size-sm: 12px;
$txt-size-lg: 20px;
$txt-size-lg-rad: 10px;
$txt-size-super: 36px;

$pad-thin: 12px;
$pad-normal: 24px;
$pad-wide: 48px;
$pad-offset: 6px;
