@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600,700|Rubik:400,500');

$font-family-0: 'Rubik', monospace;
$font-family-1: 'Overpass Mono', monospace;

$color-theme-0: #f6f6f6;
$color-theme-1: #694B4B;
$color-theme-2: #444444;
$color-theme-3: #D93636;
$color-theme-4: #60D243;

$txt-size-sm: 16px;
$txt-size-lg: 28px;
$txt-size-lg-rad: 14px;
$txt-size-super: 48px;

$pad-thin: 16px;
$pad-normal: 32px;
$pad-wide: 64px;
$pad-offset: 8px;
