@import "styles/vars";
@import "styles/sections";
@import "styles/text";
@import "styles/searchBox";
@import "styles/cafe";
@import "styles/modal";
@import "styles/userForm";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    color: $color-text-1;
    background-color: $color-theme-0;
    font-family: 'Source Code Pro', 'Overpass Mono','Courier New', Courier, monospace;
    font-size: 20px;
    position: relative;
}